# Betaflight / STM32F405 (S405) 4.1.0 Aug 13 2019 / 22:54:29 (52173c798) MSP API: 1.42

#define USE_ACC
#define USE_GYRO
#define USE_ACCGYRO_BMI270
#define USE_BARO
#define USE_BARO_SPI_DPS310
#define USE_MAX7456
#define USE_SDCARD
#define USE_MAG
#define USE_MAG_HMC5883
#define USE_MAG_QMC5883
#define USE_GPS

board_name MicoAir405Mini
manufacturer_id MARC

# resources
resource MOTOR 1 B00
resource MOTOR 2 B01
resource MOTOR 3 A15
resource MOTOR 4 B03
resource MOTOR 5 B04
resource MOTOR 6 B05
resource MOTOR 7 B08
resource MOTOR 8 B09
resource PPM 1 A03
resource LED 1 C05
resource LED 2 C04
resource LED 3 A08
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_TX 4 A00
resource SERIAL_TX 6 C06
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 A03
resource SERIAL_RX 3 B11
resource SERIAL_RX 4 A01
resource SERIAL_RX 5 D02
resource SERIAL_RX 6 C07
resource I2C_SCL 1 B06
resource I2C_SDA 1 B07
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 C10
resource SPI_MISO 1 A06
resource SPI_MISO 2 C02
resource SPI_MISO 3 C11
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 C03
resource SPI_MOSI 3 C12
resource ADC_BATT 1 C00
resource ADC_CURR 1 C01
resource OSD_CS 1 B12
resource GYRO_CS 1 C14
resource BARO_CS 1 C13
resource SDCARD_CS 1 C09
resource PINIO 1 C15

# timer
timer B00 AF2
# pin B00: TIM3 CH3 (AF2)
timer B01 AF2
# pin B01: TIM3 CH4 (AF2)
timer A15 AF1
# pin A15: TIM2 CH1 (AF1)
timer B03 AF1
# pin B03: TIM2 CH2 (AF1)
timer B04 AF2
# pin B04: TIM3 CH1 (AF2)
timer B05 AF2
# pin B05: TIM3 CH2 (AF2)
timer B08 AF2
# pin B08: TIM4 CH3 (AF2)
timer B09 AF2
# pin B09: TIM4 CH4 (AF2)
timer A03 AF1
# pin A03: TIM2 CH4 (AF1)

# dma
dma ADC 1 1
# ADC 1: DMA2 Stream 4 Channel 0
dma pin B00 0
# pin B00: DMA1 Stream 7 Channel 5
dma pin B01 0
# pin B01: DMA1 Stream 2 Channel 5
dma pin A15 0
# pin A15: DMA1 Stream 5 Channel 3
dma pin B03 0
# pin B03: DMA1 Stream 6 Channel 3



# feature
feature RX_SERIAL
feature OSD
feature GPS

# serial
serial 3 1 57600 57600 0 115200
serial 5 64 115200 57600 0 115200

# master
set pinio_config = 129,129,129,129
set mag_bustype = I2C
set mag_i2c_device = 1
set blackbox_device = SDCARD
set serialrx_provider = SBUS
set dshot_burst = ON
set current_meter = ADC
set battery_meter = ADC
set ibata_scale = 40
set vbat_scale = 210
set system_hse_mhz = 8
set gps_provider = UBLOX
set max7456_spi_bus = 1
set gyro_1_bustype = SPI
set gyro_1_spibus = 2
set gyro_1_sensor_align = CW0
set baro_bustype = SPI
set baro_spi_device = 2
set sdcard_mode = SPI
set sdcard_spi_bus = 3

